.card {
  transition: transform 150ms ease, box-shadow 150ms ease;
  box-shadow: var(--mantine-shadow-md);

  &:hover {
    transform: scale(1.02);
  }
}

.title {
  font-family: "Greycliff CF", var(--mantine-font-family);
  font-weight: bold;
}
